---
    import { FUNNEL } from "../../funnel";
---

<p><strong>Introduction</strong></p>
<p>
    Welcome to the {FUNNEL.company.name} website (&quot;Site&quot;). This Terms of Use Agreement (&quot;Agreement&quot;)
    sets forth the agreement between {FUNNEL.company.name}, LLC (&quot;SCS&quot; or &quot;we&quot;) and each user
    (&quot;you&quot; or &quot;user&quot;) governing the use by you of this Site. Please read this Agreement carefully
    before using this Site. By using this Site, you agree to be bound by the terms and conditions contained in
    this Agreement. If you do not agree to the terms and conditions contained in this Agreement, you may not access or
    otherwise use this Site.
</p>
<p>
    These Terms may change from time to time. We will notify you of any material changes to these Terms by posting a
    notice on the homepage of the Site for a reasonable period of time after such changes are made that these
    Terms have been updated, and by changing the &quot;Last Updated&quot; date at the top of this webpage. We encourage
    you to check this page periodically for any changes. Your continued use of the Site following the
    posting of changes to these terms will mean you accept those changes.
</p>
<p>
    In addition, when using particular services or features or making purchases on the Site, you shall be subject to any
    posted guidelines or policies applicable to such services, features, or purchases that may be posted
    from time to time. All such guidelines or policies are hereby incorporated by reference into this Agreement.
</p>
<br />
<p><strong>Not Healthcare Advice</strong></p>
<p>
    This site is not intended to provide medical advice, diagnosis, or treatment. The products, information, services,
    and other content provided on and through this Site, including information that may be provided on the
    Site (directly or via linking to third-party sites by a healthcare or nutrition professional), are provided for
    informational purposes only. Please consult with your physician or other healthcare professional
    (collectively, &quot;Healthcare Professional&quot;) regarding any medical or health-related diagnosis or treatment
    options.
</p>
<p>
    The information provided on this Site, Linked Sites (as defined), any product label or product packaging, including
    information relating to health conditions or products, is often provided in summary or aggregate form.
    Again, it is not intended as a substitute for advice from your Healthcare Professional.
</p>
<p>
    You should not use the information or services on this Site for diagnosis or treatment of any health issue or for
    prescription of any medication, drug, or other treatment. You should always consult with your Healthcare
    Professional, and carefully read all information about a product and on or in any product label or packaging, before
    using any dietary supplement, before starting any diet or exercise program, or before adopting any
    regimen for a health condition. Each person is different, and the way you react to a particular product may be
    significantly different from the way other people react to such product. You should also consult your
    Healthcare Professional regarding any interactions between any medication you are currently taking and any dietary
    supplements. SCS customers are encouraged to voluntarily participate in our forums, blogs, or reviews,
    including descriptions of their experiences with specific products. Any comments made by employees in these forums
    or in reviewing products are strictly their own personal views made in their personal capacity. These
    comments are not claims made by SCS nor do they represent the view or position of SCS.
</p>
<br />
<p><strong>Purchases</strong></p>
<p>
    If you make a purchase on the Site, your purchase will be subject to the terms of our Purchase Policy, which is
    hereby incorporated into and made part of this Agreement. Please review our Purchase Policy before making
    any such purchase. By submitting payment information in connection with any such purchase, you agree to be bound by
    the terms of our Purchase Policy.
</p>
<br />
<p><strong>Privacy</strong></p>
<p>
    Use of this Site is subject to the terms of our Privacy Policy, which is hereby incorporated into and made part of
    this Agreement. Please carefully review our Privacy Policy. By using this Site, you agree to be bound by
    the terms of our Privacy Policy. We reserve the right, and you authorize us, to use information regarding your use
    of this Site, account registration, and any other personal information provided by you in accordance with
    our Privacy Policy.
</p>
<br />
<p><strong>Copyright and Trademarks</strong></p>
<p>
    You acknowledge that all materials on the Site, including the Site&apos;s design, graphics, text, sounds, pictures,
    software, and other files and the selection and arrangement thereof (collectively,
    &quot;Materials&quot;), are the property of SCS or its licensors, and are subject to and protected by United States
    and international copyright and other intellectual property laws and rights. All rights to Materials not
    expressly granted in this Agreement are reserved to their respective copyright owners. Except as expressly
    authorized by this Agreement or on the Site, you may not copy, reproduce, distribute, republish, download,
    perform, display, post, transmit, exploit, create derivative works, or otherwise use any of the Materials in any
    form or by any means, without the prior written authorization of SCS or the respective copyright owner. SCS
    authorizes you to view and download the Materials only for personal, non-commercial use, provided that you keep
    intact all copyright and other proprietary notices contained in the original Materials. You may not modify
    or adapt the Materials in any way or otherwise use them for any public or commercial purposes. The trademarks,
    service marks, trade names, trade dress, and logos (collectively, &quot;Marks&quot;) contained or described
    on this Site (including, without limitation, any Marks associated with any products available on the Site) are the
    sole property of SCS and/or its suppliers or licensors and may not be copied, imitated or otherwise used,
    in whole or in part, without the prior written authorization of SCS and/or its suppliers or licensors. In addition,
    all page headers, custom graphics, button icons, and scripts are Marks of SCS and may not be copied,
    imitated, or otherwise used, in whole or in part, without the prior written authorization of SCS. SCS will enforce
    its intellectual property rights to the fullest extent of the law.
</p>
<br />
<p><strong>Links - Third Party Websites</strong></p>
<p>
    Links on the Site to third party websites are provided only as a convenience to you. If you use these links, you
    will leave the Site. SCS does not control or endorse any such third-party websites. You agree that SCS
    Parties will not be responsible or liable for any content, goods, or services provided on or through these outside
    websites or for your use or inability to use such websites. You will use these links at your own risk.
</p>
<p>
    Without limiting the foregoing, your correspondence or business dealings with, or participation in promotions of,
    advertisers found on or through the use of the Site, including payment for and delivery of related goods
    or services, and any other terms, conditions, warranties, or representations associated with such dealings, are
    solely between you and such advertiser. You agree that SCS Parties shall not be responsible or liable for
    any loss or damage of any sort incurred as the result of any such dealings or as the result of the presence of such
    advertisers on the Site.
</p>
<br />
<p><strong>Disclaimer - Limitation of Liability</strong></p>
<p>
    YOU EXPRESSLY UNDERSTAND AND AGREE THAT: YOUR USE OF THE SITE IS AT YOUR SOLE RISK. THE SITE AND THE MATERIALS
    CONTAINED HEREIN ARE PROVIDED ON AN &quot;AS IS&quot; AND &quot;AS AVAILABLE&quot; BASIS. EXCEPT AS OTHERWISE
    EXPRESSLY PROVIDED IN THIS AGREEMENT, SCS, LLC, ITS PARENT, SUBSIDIARIES, AND OTHER AFFILIATED COMPANIES AND THEIR
    RESPECTIVE OFFICERS, DIRECTORS, EMPLOYEES, AND OTHER REPRESENTATIVES (COLLECTIVELY, &quot;SCS
    PARTIES&quot;) EXPRESSLY DISCLAIM ALL WARRANTIES OF ANY KIND, WHETHER EXPRESS OR IMPLIED, INCLUDING, BUT NOT LIMITED
    TO THE IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NON-INFRINGEMENT.
</p>
<p>
    EXCEPT AS OTHERWISE EXPRESSLY PROVIDED IN THIS AGREEMENT, SCS PARTIES MAKE NO WARRANTY THAT (I) THE SITE WILL MEET
    YOUR REQUIREMENTS, (II) THE SITE WILL BE UNINTERRUPTED, TIMELY, SECURE, OR ERROR-FREE, (III) THE RESULTS
    THAT MAY BE OBTAINED FROM THE USE OF THE SITE WILL BE ACCURATE OR RELIABLE, (IV) THE QUALITY OF ANY PRODUCTS,
    SERVICES, INFORMATION, OR OTHER MATERIAL OBTAINED BY YOU THROUGH THE SITE WILL MEET YOUR EXPECTATIONS, AND (V)
    ANY ERRORS IN THE SITE WILL BE CORRECTED. ANY MATERIAL DOWNLOADED OR OTHERWISE OBTAINED THROUGH THE USE OF THE
    SERVICE IS DONE AT YOUR OWN DISCRETION AND RISK AND YOU WILL BE SOLELY RESPONSIBLE FOR ANY DAMAGE TO YOUR
    COMPUTER SYSTEM OR LOSS OF DATA THAT RESULTS FROM THE DOWNLOAD OF ANY SUCH MATERIAL. NO ADVICE OR INFORMATION,
    WHETHER ORAL OR WRITTEN, OBTAINED BY YOU FROM SCS PARTIES OR ON OR THROUGH THE SITE SHALL CREATE ANY WARRANTY
    NOT EXPRESSLY STATED IN THIS AGREEMENT.
</p>
<p>
    NONE OF THE PRODUCTS OR SERVICES PURCHASED ON OR THROUGH THE SITE ARE SUBJECT TO ANY APPLICABLE WARRANTIES. TO THE
    FULLEST EXTENT PERMISSIBLE BY APPLICABLE LAW, SCS PARTIES DISCLAIM ALL WARRANTIES OF ANY KIND, EITHER
    EXPRESS OR IMPLIED, INCLUDING, ANY IMPLIED WARRANTIES, WITH RESPECT TO THE PRODUCTS AND SERVICES LISTED OR PURCHASED
    ON OR THROUGH THE SITE. WITHOUT LIMITING THE GENERALITY OF THE FOREGOING, SCS PARTIES EXPRESSLY
    DISCLAIM ALL LIABILITY FOR PRODUCT DEFECT OR FAILURE, CLAIMS THAT ARE DUE TO NORMAL WEAR, PRODUCT MISUSE, ABUSE,
    PRODUCT MODIFICATION, IMPROPER PRODUCT SELECTION, AND NON-COMPLIANCE WITH ANY PRINTED DIRECTIONS.
</p>
<p>
    SCS PARTIES SHALL NOT UNDER ANY CIRCUMSTANCES BE LIABLE FOR ANY DAMAGES OF ANY KIND ARISING OUT OF, IN CONNECTION
    WITH, OR RELATING TO THE USE OF OR INABILITY TO USE THE SITE, INCLUDING ANY LIABILITY (I) AS A PUBLISHER
    OF INFORMATION, (II) AS A RESELLER OF ANY PRODUCTS OR SERVICES, (III) FOR ANY DEFECTIVE PRODUCTS, (IV) FOR ANY
    INCORRECT OR INACCURATE INFORMATION, (V) FOR ANY UNAUTHORIZED ACCESS TO OR DISCLOSURE OF YOUR TRANSMISSIONS
    OR DATA, (VI) FOR STATEMENTS OR CONDUCT OF ANY THIRD PARTY ON THE SITE, OR (VII) FOR ANY OTHER MATTER RELATING TO
    THIS SITE OR ANY THIRD PARTY WEBSITE. THIS IS A COMPREHENSIVE LIMITATION OF LIABILITY THAT APPLIES TO ALL
    DAMAGES OF ANY KIND, INCLUDING ANY DIRECT, INDIRECT, SPECIAL, INCIDENTAL, OR CONSEQUENTIAL DAMAGES (INCLUDING
    DAMAGES FOR LOSS OF BUSINESS, LOSS OF PROFITS, LOSS OF GOOD WILL, LOSS OF USE, LOSS OF DATA, COST OF PROCURING
    SUBSTITUTE GOODS, SERVICES OR INFORMATION, LITIGATION OR THE LIKE), WHETHER BASED ON BREACH OF CONTRACT, BREACH OF
    WARRANTY, TORT (INCLUDING NEGLIGENCE), PRODUCT LIABILITY OR OTHERWISE, EVEN IF AN INDIVIDUAL ADVISES OF
    THE POSSIBILITY OF SUCH DAMAGES. THE LIMITATIONS OF LIABILITY SET FORTH HEREIN ARE FUNDAMENTAL ELEMENTS OF THE BASIS
    OF THE BARGAIN BETWEEN SCS AND YOU. THE PRODUCTS, INFORMATION, AND SERVICES OFFERED ON AND THROUGH THE
    SITE WOULD NOT BE PROVIDED WITHOUT SUCH LIMITATIONS. NOTWITHSTANDING THE FOREGOING, THE SOLE AND ENTIRE MAXIMUM
    LIABILITY OF SCS PARTIES FOR ANY REASON, AND YOUR SOLE AND EXCLUSIVE REMEDY FOR ANY CAUSE OR CLAIM
    WHATSOEVER, SHALL BE LIMITED TO THE AMOUNT PAID BY YOU FOR ANY PRODUCT, INFORMATION, OR SERVICE PURCHASED BY YOU
    FROM SCS ON THIS SITE.
</p>
<p>
    SOME JURISDICTIONS DO NOT ALLOW THE DISCLAIMER OF CERTAIN WARRANTIES OR THE LIMITATION OR EXCLUSION OF LIABILITY FOR
    CERTAIN TYPES OF DAMAGES. ACCORDINGLY, SOME OF THE ABOVE DISCLAIMERS AND LIMITATIONS MAY NOT APPLY TO
    YOU. IN SUCH JURISDICTIONS, THE EXCLUSIONS AND LIABILITY ARE LIMITED TO THE FULLEST EXTENT PERMITTED BY LAW.
</p>
<br />
<p><strong>Indemnification</strong></p>
<p>
    You agree to indemnify, defend and hold harmless SCS Parties against all claims, demands, causes of action, losses,
    expenses, damages, and costs, including any reasonable attorneys&apos; fees, resulting or arising from
    or relating to your use of or conduct on the Site, any activity related to your account by you or any other person,
    any material that you submit to, post on or transmit through the Site, your breach of this Agreement,
    your infringement or violation of any rights of another, or termination of your access to the Site.
</p>
<br />
<p><strong>Site Usage - Termination of Usage</strong></p>
<p>
    You are required to establish an account on this Site in order to take advantage of certain features of this Site,
    such as making a purchase. If you provide information on this Site, you agree to (a) provide true,
    accurate, current, and complete information about yourself as prompted by the Site, and (b) maintain and promptly
    update such information to keep it true, accurate, current and complete to the extent the Site facilitates
    such updates. If you provide any information that is false, inaccurate, outdated, or incomplete, or SCS has
    reasonable grounds to suspect that such information is false, inaccurate, outdated, or incomplete, SCS has the
    right to suspend or terminate your account and prohibit any and all current or future use of the Site (or any
    portion thereof) by you.
</p>
<p>
    You will create a username and password while completing the account registration process. You are responsible for
    maintaining the confidentiality of the password and account and are fully responsible for all activities
    that occur under your password or account. You are strongly encouraged to select a hard-to-guess password and not
    re-use that password on any other sites where it may be read by the owners or administrators of that site.
    You agree to (a) immediately notify SCS of any unauthorized use of your password or account or any other breach of
    security, and (b) ensure that you exit from your account at the end of each session. You agree to be
    responsible for all charges resulting from the use of your account on the Site, including charges resulting from
    unauthorized use of your account prior to your taking steps to prevent such occurrence by changing your
    password and notifying SCS. SCS Parties cannot and will not be liable for any loss or damage arising from your
    failure to comply with this section.
</p>
<p>
    You agree to use this Site only for lawful purposes, and that you are responsible for your use of and communications
    on the Site. You agree not to post on or transmit through this Site any unlawful, infringing,
    threatening, harassing, defamatory, vulgar, obscene, profane, indecent, offensive, hateful, or otherwise
    objectionable material of any kind, including any material that encourages criminal conduct or conduct that would
    give rise to civil liability, infringes others&apos; intellectual property rights or otherwise violates any
    applicable local, state, national or international law. You agree not to use this Site in any manner that
    interferes with its normal operation or with any other user&apos;s use and enjoyment of the Site.
</p>
<p>
    You further agree that you will not access this Site by any means except through the interface provided by SCS for
    access to the Site. Creating or maintaining any link from another website to any page on this Site
    without the prior written authorization of SCS is prohibited. Running or displaying this Site or any information or
    material displayed on this Site in frames or through similar means on another website without the prior
    written authorization of SCS is prohibited. Any permitted links to this Site must comply with all applicable laws,
    rules, and regulations.
</p>
<p>
    SCS makes no representation that Materials contained on the Site or products described or offered on the Site are
    appropriate or available for use in jurisdictions outside the United States, or that this Agreement
    complies with the laws of any other country. Visitors who use the Site and reside outside the United States do so on
    their own initiative and are responsible for compliance with all laws, if and to the extent local laws
    are applicable. You agree that you will not access this Site from any territory where its contents are illegal and
    that you, and not SCS Parties, are responsible for compliance with applicable local laws.
</p>
<p>
    This Agreement is effective unless and until terminated by either you or SCS. You may terminate this Agreement at
    any time, provided that you discontinue any further use of this Site. SCS also may terminate or suspend
    this Agreement, at any time, without notice, and accordingly deny you access to the Site, if in SCS&apos;s sole
    discretion you fail to comply with any term or provision of this Agreement or your use is harmful to the
    interests of another user or SCS Parties. Upon any termination of the Agreement by either you or us, you must
    promptly destroy all materials downloaded or otherwise obtained from this Site, as well as all copies of such
    materials, whether made under the terms of use or otherwise. SCS reserves the right at any time and from time to
    time to modify or discontinue, temporarily or permanently, the Site (or any part thereof) with or without
    notice. Except as otherwise expressly stated in this Agreement, you agree that SCS Parties shall not be liable to
    you or to any third party for any modification, suspension, or discontinuation of the Site.
</p>
<p>
    You agree that SCS may terminate or suspend your access to all or part of this Site, without notice, for any conduct
    that SCS, in its sole discretion, believes is in violation of this Agreement or any applicable law or
    is harmful to the interests of another user or SCS Parties.
</p>
<p>
    Sections IV (Privacy), VII (Disclaimer - Limitation of Liability), VIII (Indemnification), IX (Site Usage -
    Termination of Usage), X (User Content and Conduct), XI (Applicable Law, Jurisdiction, and Dispute Resolution),
    XII (Severability and Interpretation) and XIV (Miscellaneous) shall survive any termination of this Agreement.
</p>
<br />
<p><strong>User Content and Conduct</strong></p>
<p>
    Where applicable at the Site, you are invited to post your own content (&quot;User Content&quot;). Please note that
    this Site is intended for adult use; if you are under the age of 13, do not submit any User Content to
    this Site.
</p>
<p>
    You understand that all User Content, whether you have publicly posted on a forum or privately transmitted to
    another Site user or to us, is your sole responsibility. Though the Site is designed to be a safe place to
    share such User Content, SCS cannot guarantee that other users will not misuse the User Content that you share. If
    you have any User Content that you would like to keep confidential and/or do not want others to use, do
    not post it to the Site. Under no circumstances will SCS be liable in any way for any User Content, including, but
    not limited to, any errors or omissions in any User Content, or for any loss or damage of any kind
    incurred as a result of the use of any User Content posted, emailed or otherwise transmitted via the Site. SCS IS
    NOT RESPONSIBLE FOR A USER&apos;S MISUSE OR MISAPPROPRIATION OF ANY USER CONTENT YOU POST TO THE SITE.
</p>
<p>
    By posting any User Content at the Site, you hereby grant SCS a royalty-free, fully paid up, perpetual, irrevocable,
    non-exclusive and fully sub-licensable right and license to use, reproduce, modify, adapt, publish,
    translate, combine with other works, create derivative works from, distribute, perform, edit and display such User
    Content (in whole or part) worldwide and/or to incorporate it in other works in any form, media, or
    technology now known or later developed. You specifically waive any &quot;moral rights&quot; in and to the User
    Content. The foregoing grant includes, without limitation, any copyrights and other intellectual property
    rights in and to your User Content. You represent and warrant that: you own the User Content posted by you on or
    through the Site or otherwise have the right to grant the license set forth in this Section X; and the
    posting of your User Content on or through the Site does not violate the privacy rights, publicity rights,
    copyrights, contract rights or any other rights of any person. You agree to pay for all royalties, fees, and any
    other monies owing any person by reason of any User Content you posted to or through the Site.
</p>
<p>
    You acknowledge and agree that SCS may preserve User Content and may also disclose User Content if required to do so
    by law or in the good faith belief that such preservation or disclosure is reasonably necessary to:
    comply with legal process; enforce this Agreement; respond to claims that any User Content violates the rights of
    third-parties; or protect the rights, property, or personal safety of SCS, its users and the public. You
    understand that the technical processing and transmission of the Site, including your User Content, may involve:
    transmissions over various networks; and changes to conform and adapt to technical requirements of
    connecting networks or devices.
</p>
<p>
    You agree to each of the conditions in this Agreement and further, agree that each of these conditions applies
    forever and broadly with regard to SCS worldwide. Posting of User Content to or through the Site, including
    ideas or disclosures of opinions, is voluntary on your part. No confidential or contractual relationship is
    established by your posting of User Content or is to be implied by our review or subsequent use of your User
    Content. SCS shall not be liable for any disclosure of any User Content, including opinion(s) or suggestion(s), you
    post to or through the Site. SCS SHALL BE ENTITLED TO UNRESTRICTED USE OF ANY USER CONTENT IT MAY
    RECEIVE FROM YOU AT OR THROUGH THE SITE, FOR ANY PURPOSE WHATSOEVER, COMMERCIAL OR OTHERWISE, WITHOUT COMPENSATION
    TO YOU AS PROVIDER OF THE USER CONTENT
</p>
<br />
<p><strong>You agree that you will not use the Site to:</strong></p>
<ol>
    <li>
        upload, post, email or otherwise transmit any User Content that is unlawful, harmful, threatening, abusive,
        harassing, defamatory, vulgar, obscene, libelous, invasive of another&apos;s privacy, hateful, or racially,
        ethnically or otherwise objectionable;
    </li>
    <li>harm minors in any way;</li>
    <li>impersonate any person or entity, including, but not limited to a representative of SCS, or falsely state or
        otherwise misrepresent your affiliation with a person or entity;</li>
    <li>forge headers or otherwise manipulate identifiers to disguise the origin of any User Content transmitted through
        the Site;</li>
    <li>
        upload, post, email or otherwise transmit any User Content that you do not have a right to transmit under any
        law or under contractual or fiduciary relationships (such as inside information, proprietary and
        confidential information learned or disclosed as part of employment relationships or under non-disclosure
        agreements);
    </li>
    <li>upload, post, email, or otherwise transmit any User Content that infringes any patent, trademark, trade secret,
        copyright, or other proprietary rights (&quot;Rights&quot;) of any party;</li>
    <li>
        upload, post, email, or otherwise transmit any unsolicited or unauthorized advertising, promotional materials,
        &quot;junk mail,&quot; &quot;spam,&quot; &quot;chain letters,&quot; &quot;pyramid schemes,&quot; or any
        other form of solicitation, except in those areas that are designated for such purpose;
    </li>
    <li>
        upload, post, email, or otherwise transmit any material that contains software viruses or any other computer
        code, files, or programs designed to interrupt, emulate, destroy or limit the functionality of any computer
        software or hardware or telecommunications equipment;
    </li>
    <li>
        disrupt the normal flow of dialogue, cause a screen to &quot;scroll&quot; faster than other users of the Site
        are able to type, or otherwise act in a manner that negatively affects other users&apos; ability to engage
        in real time exchanges;
    </li>
    <li>interfere with or disrupt the Site or servers or networks connected to the Site, or disobey any requirements,
        procedures, policies or regulations of networks connected to the Site;</li>
    <li>&quot;stalk&quot; or otherwise harass another;</li>
    <li>collect or store personal data about other Site users; or</li>
    <li>gain access to unauthorized areas of the Site or our network or servers.</li>
</ol>
<br />
<p>Further, by way of example and not as a limitation, you agree not to:</p>
<ol>
    <li>use the Service in connection with chain letters, junk e-mail, spamming, or any duplicative or unsolicited
        messages (commercial or otherwise);</li>
    <li>harvest or otherwise collect information about others, including e-mail addresses, without their consent;</li>
    <li>create a false identity or forged e-mail address or header, or otherwise, attempt to mislead others as to the
        identity of the sender or the origin of the message;</li>
    <li>transmit through the Service any Materials that are unlawful, harassing, libelous, abusive, threatening,
        harmful, vulgar, obscene, or otherwise objectionable material of any kind or nature;</li>
    <li>transmit any material that contains viruses, Trojan horses, worms, trap doors, back doors, Easter eggs, time
        bombs, cancelbots, netbots, or any other harmful or deleterious programs or scripts;</li>
    <li>violate any U.S. law regarding the transmission of technical data or software exported from the United States
        through the Service;</li>
    <li>interfere with or disrupt networks connected to the Service or violate the regulations, policies, or procedures
        of such networks;</li>
    <li>attempt to gain unauthorized access to the Service, other accounts, computer systems, or networks connected to
        the Service, through password mining or any other means; or</li>
    <li>interfere with another User&rsquo;s use and enjoyment of the Service.</li>
</ol>
<p>We will terminate the account and/or block Site users who repeatedly violate the above-mentioned items or the
    intellectual property rights of any other person on this Site.</p>
<br />
<p>
    You understand that by using the Site, you may be exposed to User Content created by others that is offensive,
    indecent, or objectionable. SCS does not endorse or have control over the User Content. User Content is not
    reviewed by SCS prior to posting and does not reflect the opinions or policies of SCS. SCS makes no representations
    or warranties, express or implied as to the User Content or the accuracy and reliability of the User
    Content or any other material or information that you may access through the Site. SCS assumes no responsibility for
    monitoring the Site for inappropriate submissions or conduct. If at any time SCS chooses, in its sole
    discretion, to monitor the Site, SCS nonetheless assumes no responsibility for the User Content, has no obligation
    to modify or remove any inappropriate User Content, and has no responsibility for the conduct of the Site
    users submitting any such User Content. Notwithstanding the foregoing, SCS and its designees shall have the right to
    remove any User Content that violates this Agreement or is otherwise objectionable, in SCS&apos;s sole
    discretion. You agree that you must evaluate, and bear all risks associated with, the use of any User Content,
    including any reliance on the accuracy, completeness, or usefulness of such User Content. In this regard, you
    acknowledge that you may not rely on any User Content. You are solely responsible for your interaction.
</p>
<p>
    You are solely responsible for your interactions with other Site users. SCS reserves the right, but has no
    obligation, to monitor disputes between you and other Site users and to terminate your Site access, in its sole
    discretion.
</p>
<br />
<h3><strong>SMS/MMS Mobile Message Marketing Program Terms and Conditions:</strong></h3>
<p>
    {FUNNEL.company.name} (hereinafter, &ldquo;We,&rdquo; &ldquo;Us,&rdquo; &ldquo;Our&rdquo;) is offering a mobile
    messaging program (the &ldquo;Program&rdquo;), which you agree to use and participate in subject to these
    Mobile Messaging Terms and Conditions and Privacy Policy (the &ldquo;Agreement&rdquo;). By opting in to or
    participating in any of our Programs, you accept and agree to these terms and conditions, including, without
    limitation, your agreement to resolve any disputes with us through binding, individual-only arbitration, as detailed
    in the &ldquo;Dispute Resolution&rdquo; section below. This Agreement is limited to the Program and is
    not intended to modify other Terms and Conditions or Privacy Policy that may govern the relationship between you and
    Us in other contexts.
</p>
<p>
    User Opt In: The Program allows Users to receive SMS/MMS mobile messages by affirmatively opting into the Program,
    such as through online or application-based enrollment forms. Regardless of the opt-in method you
    utilized to join the Program, you agree that this Agreement applies to your participation in the Program. By
    participating in the Program, you agree to receive auto dialed or prerecorded marketing mobile messages at the
    phone number associated with your opt-in, and you understand that consent is not required to make any purchase from
    Us. While you consent to receive messages sent using an auto dialer, the foregoing shall not be
    interpreted to suggest or imply that any or all of Our mobile messages are sent using an automatic telephone dialing
    system (&ldquo;ATDS&rdquo; or &ldquo;auto dialer&rdquo;). Message and data rates may apply.
</p>
<p>
    User Opt Out: If you do not wish to continue participating in the Program or no longer agree to this Agreement, you
    agree to reply STOP, END, CANCEL, UNSUBSCRIBE, or QUIT to any mobile message from Us in order to opt out
    of the Program. You may receive an additional mobile message confirming your decision to opt out. You understand and
    agree that the foregoing options are the only reasonable methods of opting out. You also understand and
    agree that any other method of opting out, including, but not limited to, texting words other than those set forth
    above or verbally requesting one of our employees to remove you from our list, is not a reasonable means
    of opting out.
</p>
<p>
    Duty to Notify and Indemnify: If at any time you intend to stop using the mobile telephone number that has been used
    to subscribe to the Program, including canceling your service plan or selling or transferring the phone
    number to another party, you agree that you will complete the User Opt Out process set forth above prior to ending
    your use of the mobile telephone number. You understand and agree that your agreement to do so is a
    material part of these terms and conditions. You further agree that, if you discontinue the use of your mobile
    telephone number without notifying Us of such change, you agree that you will be responsible for all costs
    (including attorneys&rsquo; fees) and liabilities incurred by Us, or any party that assists in the delivery of the
    mobile messages, as a result of claims brought by individual(s) who are later assigned that mobile
    telephone number. This duty and agreement shall survive any cancellation or termination of your agreement to
    participate in any of our Programs.
</p>
<p>
    YOU AGREE THAT YOU SHALL INDEMNIFY, DEFEND, AND HOLD US HARMLESS FROM ANY CLAIM OR LIABILITY RESULTING FROM YOUR
    FAILURE TO NOTIFY US OF A CHANGE IN THE INFORMATION YOU HAVE PROVIDED, INCLUDING ANY CLAIM OR LIABILITY
    UNDER THE TELEPHONE CONSUMER PROTECTION ACT, 47 U.S.C. &sect; 227, et seq., OR SIMILAR STATE AND FEDERAL LAWS, AND
    ANY REGULATIONS PROMULGATED THEREUNDER RESULTING FROM US ATTEMPTING TO CONTACT YOU AT THE MOBILE
    TELEPHONE NUMBER YOU PROVIDED.
</p>
<p>Program Description: Without limiting the scope of the Program, users that opt into the Program can expect to receive
    messages concerning the marketing and sale of digital and physical products, services, and events.</p>
<p>Cost and Frequency: Message and data rates may apply. The Program involves recurring mobile messages, and additional
    mobile messages may be sent periodically based on your interaction with Us.</p>
<p>
    Support Instructions: For support regarding the Program, text &ldquo;HELP&rdquo; to the number you received messages
    from or email us at {FUNNEL.company.email}. Please note that the use of this email address is not an
    acceptable method of opting out of the program. Opt outs must be submitted in accordance with the procedures set
    forth above.
</p>
<p>MMS Disclosure: The Program will send SMS TMs (terminating messages) if your mobile device does not support MMS
    messaging.</p>
<p>
    Our Disclaimer of Warranty: The Program is offered on an &ldquo;as-is&rdquo; basis and may not be available in all
    areas at all times and may not continue to work in the event of product, software, coverage, or other
    changes made by your wireless carrier. We will not be liable for any delays or failures in the receipt of any mobile
    messages connected with this Program. Delivery of mobile messages is subject to effective transmission
    from your wireless service provider/network operator and is outside of Our control. T-Mobile is not liable for
    delayed or undelivered mobile messages.
</p>
<p>
    Participant Requirements: You must have a wireless device of your own, capable of two-way messaging, be using a
    participating wireless carrier, and be a wireless service subscriber with text messaging service. Not all
    cellular phone providers carry the necessary service to participate. Check your phone capabilities for specific text
    messaging instructions.
</p>
<p>
    Age Restriction: You may not use or engage with the Platform if you are under thirteen (13) years of age. If you use
    or engage with the Platform and are between the ages of thirteen (13) and eighteen (18) years of age,
    you must have your parent&rsquo;s or legal guardian&rsquo;s permission to do so. By using or engaging with the
    Platform, you acknowledge and agree that you are not under the age of thirteen (13) years, are between the
    ages of thirteen (13) and eighteen (18), and have your parent&rsquo;s or legal guardian&rsquo;s permission to use or
    engage with the Platform, or are of adult age in your jurisdiction. By using or engaging with the
    Platform, you also acknowledge and agree that you are permitted by your jurisdiction&rsquo;s Applicable Law to use
    and/or engage with the Platform.
</p>
<br />
<p>Prohibited Content: You acknowledge and agree to not send any prohibited content over the Platform. Prohibited
    content includes:</p>
<ul>
    <li aria-level="1">Any fraudulent, libelous, defamatory, scandalous, threatening, harassing, or stalking activity;
    </li>
    <li aria-level="1">
        Objectionable content, including profanity, obscenity, lasciviousness, violence, bigotry, hatred, and
        discrimination on the basis of race, sex, religion, nationality, disability, sexual orientation, or age;
    </li>
    <li aria-level="1">Pirated computer programs, viruses, worms, Trojan horses, or other harmful code;</li>
    <li aria-level="1">Any product, service, or promotion that is unlawful where such product, service, or promotion
        thereof is received;</li>
    <li aria-level="1">
        Any content that implicates and/or references personal health information that is protected by the Health
        Insurance Portability and Accountability Act (&ldquo;HIPAA&rdquo;) or the Health Information Technology for
        Economic and Clinical Health Act (&ldquo;HITEC&rdquo; Act); and
    </li>
    <li aria-level="1">Any other content that is prohibited by Applicable Law in the jurisdiction from which the message
        is sent.</li>
</ul>
<p>
    Dispute Resolution: In the event that there is a dispute, claim, or controversy between you and Us, or between you
    and Stodge, LLC d/b/a Postscript or any other third-party service provider acting on Our behalf to
    transmit the mobile messages within the scope of the Program, arising out of or relating to federal or state
    statutory claims, common law claims, this Agreement or the breach, termination, enforcement, interpretation or
    validity thereof, including the determination of the scope or applicability of this agreement to arbitrate, such
    dispute, claim, or controversy will be, to the fullest extent permitted by law, determined by arbitration
    in La Jolla, California before one arbitrator.
</p>
<p>
    The parties agree to submit the dispute to binding arbitration in accordance with the Commercial Arbitration Rules
    of the American Arbitration Association (&ldquo;AAA&rdquo;) then in effect. Except as otherwise provided
    herein, the arbitrator shall apply the substantive laws of the Federal Judicial Circuit in which
    {FUNNEL.company.name}&rsquo; principal place of business is located, without regard to its conflict of laws rules.
    Within ten
    (10) calendar days after the arbitration demand is served upon a party, the parties must jointly select an
    arbitrator with at least five years&rsquo; experience in that capacity and who has knowledge of and experience
    with the subject matter of the dispute. If the parties do not agree on an arbitrator within ten (10) calendar days,
    a party may petition the AAA to appoint an arbitrator, who must satisfy the same experience requirement.
    In the event of a dispute, the arbitrator shall decide the enforceability and interpretation of this arbitration
    agreement in accordance with the Federal Arbitration Act (&ldquo;FAA&rdquo;). The parties also agree that
    the AAA&rsquo;s rules governing Emergency Measures of Protection shall apply in lieu of seeking emergency injunctive
    relief from a court. The decision of the arbitrator shall be final and binding, and no party shall have
    rights of appeal except for those provided in section 10 of the FAA. Each party shall bear its share of the fees
    paid for the arbitrator and the administration of the arbitration; however, the arbitrator shall have the
    power to order one party to pay all or any portion of such fees as part of a well-reasoned decision. The parties
    agree that the arbitrator shall have the authority to award attorneys&rsquo; fees only to the extent
    expressly authorized by statute or contract. The arbitrator shall have no authority to award punitive damages and
    each party hereby waives any right to seek or recover punitive damages with respect to any dispute
    resolved by arbitration. The parties agree to arbitrate solely on an individual basis, and this agreement does not
    permit class arbitration or any claims brought as a plaintiff or class member in any class or
    representative arbitration proceeding. Except as may be required by law, neither a party nor the arbitrator may
    disclose the existence, content, or results of any arbitration without the prior written consent of both
    parties, unless to protect or pursue a legal right. If any term or provision of this Section is invalid, illegal, or
    unenforceable in any jurisdiction, such invalidity, illegality, or unenforceability shall not affect
    any other term or provision of this Section or invalidate or render unenforceable such term or provision in any
    other jurisdiction. If for any reason a dispute proceeds in court rather than in arbitration, the parties
    hereby waive any right to a jury trial. This arbitration provision shall survive any cancellation or termination of
    your agreement to participate in any of our Programs.
</p>
<p>
    Miscellaneous: You warrant and represent to Us that you have all necessary rights, power, and authority to agree to
    these Terms and perform your obligations hereunder, and nothing contained in this Agreement or in the
    performance of such obligations will place you in breach of any other contract or obligation. The failure of either
    party to exercise in any respect any right provided for herein will not be deemed a waiver of any
    further rights hereunder. If any provision of this Agreement is found to be unenforceable or invalid, that provision
    will be limited or eliminated to the minimum extent necessary so that this Agreement will otherwise
    remain in full force and effect and enforceable. Any new features, changes, updates, or improvements of the Program
    shall be subject to this Agreement unless explicitly stated otherwise in writing. We reserve the right
    to change this Agreement from time to time. Any updates to this Agreement shall be communicated to you. You
    acknowledge your responsibility to review this Agreement from time to time and to be aware of any such changes.
    By continuing to participate in the Program after any such changes, you accept this Agreement, as modified.
</p>
<br />
<p><strong>Release of Information</strong></p>
<p>
    Under normal circumstances, we will never release your provided information to any third party without your consent.
    However, in cases of Terms violations or illegal activities, we reserve the right to forward any and
    all known information about you and your accounts to your ISP (including libraries, schools, and places of
    employment), email service provider, your ISP account owner (if someone else is actually paying for it), and any
    parties whose copyright has clearly been infringed by your actions on the boards, or requests from law enforcement
    authorities.
</p>
<p>All of the information that we collect from you, such as registration and credit card information, is subject to our
    privacy policy. Please CLICK HERE to see our full Privacy Policy.</p>
<br />
<p><strong>Applicable Law, Jurisdiction, and Dispute Resolution</strong></p>
<p>
    This Agreement shall be governed by and construed in accordance with the laws of the State of Wyoming in the United
    States, without regard to its choice of law provisions. You agree to submit to personal jurisdiction in
    the State of Wyoming and further agree that any cause of action arising from or relating to the use of this Site or
    this Agreement shall be brought exclusively in the federal or state courts residing in Teton County,
    Wyoming.
</p>
<p>
    TO THE EXTENT PERMITTED BY APPLICABLE LAW, YOU AND SCS HEREBY WAIVE THE RIGHT TO A TRIAL BY JURY IN ANY PROCEEDING
    OR LITIGATION BROUGHT AGAINST THE OTHER WITH RESPECT TO THIS AGREEMENT OR THE SITE. IN ADDITION, NEITHER
    YOU NOR SCS SHALL BE ENTITLED TO JOIN OR CONSOLIDATE CLAIMS BY OR AGAINST OTHER SITE USERS, OR LITIGATE ANY CLAIM AS
    A REPRESENTATIVE OR CLASS ACTION OR IN A PRIVATE ATTORNEY GENERAL CAPACITY.
</p>
<br />
<p><strong>Severability and Interpretation</strong></p>
<p>
    If any provision of this Agreement shall be deemed unlawful, void, or for any reason unenforceable by a court of
    competent jurisdiction, the validity and enforceability of any remaining provisions shall not be affected.
    When used in this Agreement, the term &quot;including&quot; shall be deemed to be followed by the words
    &quot;without limitation.&quot;
</p>
<br />
<p><strong>Entire Agreement</strong></p>
<p>
    This Agreement constitutes the entire and only Agreement between SCS and each user of this Site with respect to the
    subject matter of this Agreement and supersedes any and all prior or contemporaneous Agreements,
    representations, warranties, and understandings, written or oral, with respect to the subject matter of this
    Agreement.
</p>
<br />
<p><strong>Miscellaneous</strong></p>
<p>
    The failure of SCS Parties to insist upon strict adherence to any term of this Agreement shall not constitute a
    waiver of such term and shall not be considered a waiver or limit that party&apos;s right thereafter to
    insist upon strict adherence to that term or any other term of this Agreement. You agree that regardless of any
    statute or law to the contrary, any claim or cause of action arising from or relating to use of this Site or
    this Agreement must be filed within one (1) year after such claim or cause of action arose, or will be forever
    barred. The &quot;Disclaimer; Limitation of Liability&quot; provisions of this Agreement are for the benefit
    of SCS Parties as defined herein, and each of these individuals or entities shall have the right to assert and
    enforce these provisions directly against you on its own behalf.
</p>
<br />
<p><strong>Policy</strong></p>
<p>
    We respect the intellectual property rights of others and require that Site users do the same. If you believe that
    your proprietary work has been copied in a way that constitutes copyright infringement, please forward
    the following information to the SCS Copyright Agent, designated as such pursuant to the Digital Millennium
    Copyright Act, 17 U.S.C. &sect; 512(c)(2):
</p>
<p>SCS Copyright Agent</p>
<p>Address of Agent: {FUNNEL.company.name}, {FUNNEL.company.address}</p>
<p>Telephone: {FUNNEL.company.phone}</p>
<p>Email: {FUNNEL.company.email}&nbsp;</p>
<ol>
    <li>A physical signature of the person authorized to act on behalf of the owner of the copyright;</li>
    <li>A description of the copyrighted work that you claim has been infringed;</li>
    <li>A description of where the material that you claim is infringing is located on the Service;</li>
    <li>Your address, telephone number, and email address;</li>
    <li>A statement by you that you have a good faith belief that the disputed use is not authorized by the copyright
        owner, its agent, or the law; and</li>
    <li>A statement by you, made under penalty of perjury, that the above information in your notice is accurate and
        that you are the copyright owner or authorized to act on the copyright owner&apos;s behalf.</li>
</ol>