---
    const { product } = Astro.props
---

<style is:global>
    .summary-box__heading {
        font-size: 26px;
        line-height: 30px;
        color: #000;
        font-weight: 600;
        text-align: left;
        border-bottom: 1px solid #ddd;
        padding-bottom: 8px;
        margin: 5px 0 20px;
    }

    .summary-box__heading-price {
        float: right;
        padding-right: 20px;
        color: #307284;
    }

    .summary-box__product {
        float: left;
        max-width: 68px;
        width: 100%;
        position: relative;
    }

    .summary-box__product img {
        max-width: 100%;
    }

    .summary-box__product span {
        font-size: 13px;
        line-height: 17px;
        width: 17px;
        height: 17px;
        background: #307284;
        border-radius: 50%;
        position: absolute;
        right: 0;
        top: 0;
        text-align: center;
        font-weight: bold;
        color: #fff;
    }

    .summary-box__product-info {
        width: calc(100% - 215px);
        float: left;
        position: relative;
        font-size: 19px;
        line-height: 22px;
        font-weight: 600;
        text-align: left;
        padding-top: 12px;
        padding-left: 15px;
    }

    .summary-box__product-info span {
        font-size: 24px;
        line-height: 34px;
        font-weight: bold;
        color: #307284;
        display: block;
        padding-bottom: 3px;
    }

    .summary-box__price-info {
        float: right;
        text-align: center;
        padding-top: 12px;
    }

    .summary-box__price-info span {
        font-size: 27px;
        line-height: 34px;
        position: relative;
    }

    .summary-box__price-info span:after {
        content: '';
        position: absolute;
        left: 0;
        top: 18px;
        border: 1px solid #ff0000;
        width: calc(100% + 20px);
        margin-left: -10px;
        transform: rotate(-10deg);
    }

    .summary-box__price-info p {
        font-size: 36px;
        line-height: 44px;
        font-weight: bold;
    }

    .summary-box__price-details {
        float: left;
        width: 100%;
        margin: 10px 0;
    }

    .summary-box__price-details tr td {
        width: 50%;
        text-align: left;
        font-size: 18px;
        line-height: 22px;
        padding: 10px;
        border-bottom: 1px solid #818181;
    }

    .summary-box__price-details tr td:last-child {
        width: 30%;
        text-align: right;
    }

    .summary-box__price-details tr:last-child td {
        border-bottom: none;
    }

    .summary-box__saved-highlight {
        background-color: #feffb9;
    }

    @media only screen and (max-width:1199px) {
        .summary-box__product-info {
            width: calc(100% - 200px);
            font-size: 17px;
            line-height: 20px;
        }
    }

    @media only screen and (max-width:991px) {

        .summary-box__heading {
            font-size: 22px;
            line-height: 25px;
        }

        /* .summary-box__product{max-width:150px;} */
        .summary-box__price-info {
            padding-top: 18px;
        }

        .summary-box__price-info span {
            font-size: 20px;
            line-height: 26px;
        }

        .summary-box__price-info span:after {
            top: 12px;
        }

        .summary-box__price-info p {
            font-size: 22px;
            line-height: 34px;
        }

        .summary-box__product-info {
            width: calc(100% - 150px);
            font-size: 15px;
        }

        .summary-box__product-info span {
            font-size: 20px;
            line-height: 28px;
        }

        .summary-box__price-details tr td {
            font-size: 17px;
        }
    }

    @media only screen and (max-width:767px) {
        .summary-box__heading {
            margin: 0px 0 15px;
        }

        .summary-box__heading--mobile {
            position: relative;
        }

        .summary-box__heading--mobile:after {
            content: '+';
            position: absolute;
            right: 0;
            top: 0;
        }

        .active.summary-box__heading--mobile:after {
            content: '-';
        }

    }

    #order-summary-toggle {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.4s ease-out;
    }

    #order-summary-toggle.open {
        max-height: 400px;
    }
</style>

<div class="summary-box__product">
    <img loading="lazy" src={product.product_image} alt="summary product" class="checkout__product-image" />
    <span class="checkout__product-count">{product.quantity}</span>
</div>
<h3 class="summary-box__product-info">
    <span class="checkout__product-name">{product.product_name}</span>
    <sup class="checkout__product-rights-symbol">{product.product_rights_symbol}</sup>
    <span class="checkout__product-slogan">{product.product_slogan}</span>
</h3>
<div class="summary-box__price-info">
    <span class="checkout__product-retail-price">-</span>
    <p class="checkout__product-offer-price">-</p>
</div>
<div class="clearall"></div>
<p class="checkout__term">(<span class="checkout__term-text">-</span>)</p>
<table class="summary-box__price-details" cellpadding="0" cellspacing="0">
    <tr>
        <td>Quantity:</td>
        <td class="checkout__product-quantity">-</td>
    </tr>
    <tr>
        <td>Price:</td>
        <td class="checkout__product-offer-price">-</td>
    </tr>
    <tr class="summary-box__saved-highlight">
        <td>You Saved:</td>
        <td class="checkout__product-saved-price">-</td>
    </tr>
    <tr>
        <td>Shipping:</td>
        <td class="checkout__product-shipping-price">-</td>
    </tr>
    <tr>
        <td>Total</td>
        <td class="checkout__product-total-price">-</td>
    </tr>
</table>

<script>
    /**
     * Toggles the active state of the order summary toggle.
     * 
     * This script attaches click event listeners to elements with the class 'summary-box__heading--mobile'.
     * When a heading is clicked, it toggles the 'active' class on the heading and the 'open' class on the
     * element with id 'order-summary-toggle'.
     */

    // Select all elements with the class 'summary-box__heading--mobile'
    const mobileSummaryHeadings = document.querySelectorAll('.summary-box__heading--mobile');

    // Select the element with the id 'order-summary-toggle'
    const orderSummaryToggle = document.getElementById('order-summary-toggle');

    /**
     * Toggles the 'active' class on the heading and the 'open' class on the orderSummaryToggle element.
     */
    // @ts-ignore: The orderSummaryToggle is checked before being used

    const toggleSummary = (event) => {
        const heading = event.currentTarget;
        heading.classList.toggle('active');
        // @ts-ignore: The orderSummaryToggle is checked before being used
        orderSummaryToggle.classList.toggle('open');
    };

    if (orderSummaryToggle) {
        // Attach click event listeners to each mobile summary heading
        mobileSummaryHeadings.forEach(heading => {
            heading.addEventListener('click', toggleSummary);
        });
    } else {
        console.error('Element with id "order-summary-toggle" not found.');
    }
</script>