---
    import { FUNNEL } from "../../funnel";
---

<p>
    This Privacy Policy describes how your personal information is collected, used, and shared when you visit or
    make a purchase from {FUNNEL.company.name} (the &ldquo;Company&rdquo;) or its website (the &ldquo;Site&rdquo;).
    We
    take your privacy extremely seriously.
</p>
<br />
<p><strong>PERSONAL INFORMATION WE COLLECT</strong></p>
<p>
    When you visit the Site, we automatically collect certain information about your device, including information
    about your web browser, IP address, time zone, and some of the cookies that are installed on your device.
    Additionally, as you browse the Site, we collect information about the individual web pages or products that you
    view, what websites or search terms referred you to the Site, and information about how you interact with
    the Site. We refer to this automatically collected information as &ldquo;Device Information.&rdquo;
</p>
<p>We collect Device Information using the following technologies:</p>
<p>
    &ldquo;Cookies&rdquo; are data files that are placed on your device or computer and often include an anonymous
    unique identifier. For more information about cookies, and how to disable cookies, visit
    http://www.allaboutcookies.org.
</p>
<p>&ldquo;Log files&rdquo; track actions occurring on the Site, and collect data including your IP address, browser
    type, Internet service provider, referring/exit pages, and date/time stamps.</p>
<p>&ldquo;Web beacons,&rdquo; &ldquo;tags,&rdquo; and &ldquo;pixels&rdquo; are electronic files used to record
    information about how you browse the Site.</p>
<p>
    Additionally, when you make a purchase or attempt to make a purchase through the Site, we collect certain
    information from you, including your name, billing address, shipping address, payment information (including
    credit card numbers, email address, and phone number. We refer to this information as &ldquo;Order
    Information.&rdquo;
</p>
<p>When we talk about &ldquo;Personal Information&rdquo; in this Privacy Policy, we are talking both about Device
    Information and Order Information.</p>
<br />
<p><strong>HOW DO WE USE YOUR PERSONAL INFORMATION?</strong></p>
<p>
    We use the Device Information that we collect to help us screen for potential risk and fraud (in particular,
    your IP address), and more generally to improve and optimize our Site (for example, by generating analytics
    about how our customers browse and interact with the Site, and to assess the success of our marketing and
    advertising campaigns).
</p>
<p>
    We use the order Information that we collect generally to fulfill any orders placed through the Site (including
    processing your payment information, arranging for shipping, and providing you with invoices and/or order
    confirmations). Additionally, we use this Order Information to:
</p>
<br />
<ul>
    <li aria-level="1">
        <strong><em>To process transactions</em></strong>. Company uses personal data such as name, physical
        address, telephone number, email address, and company/institution to engage in interactions with you,
        including
        contacting you about your transactions with the site.
    </li>
    <li aria-level="1">
        <strong><em>To process payments</em></strong>. We use financial/credit card and payment information to
        process your order and may need to share some of this information with delivery services, credit card
        clearing
        houses, and other third parties to complete the transaction.
    </li>
    <li aria-level="1">
        <strong><em>To provide support or other services</em></strong>. Company may use your personal data to
        provide you with support or other services that you have ordered or requested. Company may also use your
        personal
        information to respond directly to your requests for information, including registrations for newsletters,
        webinars, or other specific requests, or pass your contact information to the appropriate Company
        distributor
        or reseller for further follow-up related to your interests.
    </li>
    <li aria-level="1">
        <strong><em>To provide information based on your needs and respond to your requests</em></strong>. Company
        may use your personal data to provide you with notices of new product releases and service developments.
    </li>
    <li aria-level="1">
        <strong><em>To provide online forums and social networks</em></strong>. Some services available on the
        websites may permit you to participate in interactive discussions, post comments, opportunities, or other
        content
        to a Forum, or otherwise engage in networking activities. Some of these services may be moderated; all may
        be accessed for technical reasons (for example, for improvements or fixes). Company does not control the
        content that users post to the Forums or social networks. You should carefully consider whether you wish to
        submit personal information to these forums or social networks and tailor any content you submit
        appropriately and in accordance with the relevant terms of use. You should also review any additional terms
        and conditions that may govern your use of these services, including terms related to sharing your personal
        information and receiving communications.
    </li>
    <li aria-level="1">
        <strong><em>To administer products</em></strong>. Company may contact you if you purchase products to
        confirm certain information about your order (for example, that you did not experience problems in the
        download
        process). We may also use this information to confirm compliance with licensing and other terms of use and
        may share it with your company/institution.
    </li>
    <li aria-level="1">
        <strong><em>To select content, improve quality, and facilitate use of the websites</em></strong>. Company
        may use your personal data, including the information gathered as a result of site navigation and electronic
        protocols and cookies (including third-party cookies), to help create and personalize website content,
        improve website quality, track marketing campaign responsiveness, evaluate page response rates, conduct
        usability
        testing, and facilitate your use of the websites (for example, to facilitate navigation and the login
        process, avoid duplicate data entry, enhance security, keep track of shopping cart additions, and preserve
        order
        information between sessions).
    </li>
    <li aria-level="1">
        <strong><em>To serve personalized advertising to you</em></strong>. We don&apos;t share your personal data
        with advertisers without your consent. We allow advertisers to choose the characteristics of users who will
        see their advertisements, and we may use any of the non-personally identifiable data attributes we have
        collected to select the appropriate audience for those advertisements. When you click on or otherwise
        interact
        with an advertisement, there is a possibility that the advertiser may place a cookie in your browser and
        that your attributes meet the criteria the advertiser selected.
    </li>
    <li aria-level="1">
        <strong><em>To assess usage of COMPANY products and services</em></strong>. We may track your usage of our
        products and services to determine your level of usage, and those usage statistics may be made available to
        our content licensors and your company/institution.
    </li>
    <li aria-level="1">
        <strong><em>To communicate with you about events</em></strong>. We may communicate with you about events we
        host or co-sponsor by us or one of our business associates. This may include information about the
        event&apos;s content, event logistics, payment, updates, and additional information related to the event.
        Information you provide when registering for or participating in a conference managed or co-sponsored by
        parties, other than or in addition to us may be shared with those parties, and the treatment of such
        information is further subject to the privacy policies of those parties. Company and its conference
        co-sponsors may
        contact you after the event about the event, subsequent iterations of the event and related events. Please
        note that our event organizers, co-sponsors, exhibitors, and other third parties may directly request your
        personal information at their conference booths or presentations. Providing your information to them is
        optional, and you should review their privacy policies to address your particular needs and concerns about
        how
        they will treat your personal information.
    </li>
    <li aria-level="1">
        <strong><em>To update you on relevant Company benefits, programs, and opportunities</em></strong>. We may
        communicate with you regarding relevant Company benefits, programs, and opportunities available to you.
    </li>
    <li aria-level="1">
        <strong><em>To engage with third parties</em></strong>. We may share your personal data with third parties
        in connection with services that these individuals or entities perform for or with us. These third parties
        are restricted from using this data in any way other than to provide services for us or for the
        collaboration in which they and Company are contractually engaged (for example, hosting a Company database
        or engaging
        in data processing on our behalf, or mailing you information that you requested). We carefully select these
        third parties, and they are obligated to keep your data secure. From time to time, we may also share your
        information with third parties whom we think might provide content, products, or services of interest to
        you.
    </li>
    <li aria-level="1">
        <strong><em>To protect Company content and services</em></strong>. We may use your personal data to prevent
        potentially illegal activities and to enforce our terms and conditions. We also use a variety of
        technological systems to detect and address anomalous activity and to screen content to prevent abuse, such
        as spam. These efforts may, on occasion, result in a temporary or permanent suspension or termination of
        some functions for some users. By using our Site, you acknowledge and agree that we may access, retain and
        disclose the personal data we collect and maintain about you if required to do so by law or in a good faith
        belief that such access, retention, or disclosure is reasonably necessary to: (a) comply with legal process
        (e.g. a subpoena or court order) or law; (b) enforce our Terms of Service, this Privacy Policy, or other
        contracts with you, including investigation of potential violations thereof; (c) respond to claims that any
        content violates the rights of third parties; (d) respond to your requests for customer service; and/or (e)
        protect the rights, property or personal safety of Company, its agents and affiliates, its users and/or the
        public. This includes exchanging information with other companies and organizations for fraud protection,
        compliance with applicable law, and spam/malware prevention, and similar purposes.
    </li>
    <li aria-level="1">
        <strong><em>To get feedback or input from you</em></strong>. In order to deliver products and services of
        most interest to our customers, from time to time, we may ask members, customers, volunteers, and website
        visitors to provide us input and feedback (for example through surveys, usability studies, focus groups).
    </li>
    <li aria-level="1">
        <strong><em>To protect Company information assets as well as your own personal data</em></strong>. Our
        Information Security Program protects the confidentiality, integrity, and availability of Company
        information
        assets by following a risk management approach based on policies, standards, guidelines, and procedures to
        meet security objectives while supporting business and operational goals.
    </li>
    <li aria-level="1">
        <strong><em>To assist in Business Transfers</em></strong>. As we continue to develop our business, we may
        buy, merge, or partner with other companies. In such transactions, (including in contemplation of such
        transactions) user information may be among the transferred assets. If a portion or all of Company&rsquo;s
        assets are sold or transferred to a third-party, customer personal data (including your email address) would
        likely be one of the transferred business assets. If such transfer is subject to additional mandatory
        restrictions under applicable laws, we will comply with such restrictions.
    </li>
</ul>
<br />
<br />
<p>
    This Site does not collect personal data when you browse the Site and request pages from our
    servers<em>unless</em> you voluntarily and knowingly provide such information to us. This means that we will not
    know your
    name, your email address, or any other personal data just because you browse the Site unless you:
</p>
<ul>
    <li aria-level="1">access the Site from a link in an email that we have sent to you;</li>
    <li aria-level="1">have created a profile and you either log-in to your account or choose to be remembered via
        your cookie or your web-enabled mobile device.</li>
</ul>
<p>
    In these cases, we will know who you are based on the information you previously supplied to us. When you
    request a page from our Site, our servers log the information provided in the HTTP request header including the
    IP
    number, the time of the request, the URL of your request and other information that is provided in the HTTP
    header. We collect the HTTP request header information to make our Site functions correctly and provides you
    with the functionality that you expect to see. We also use this information to personalize content presented to
    you, better understand how visitors use our Site and how we can better tune it, its contents, and
    functionality to meet your needs. We only use your personally identifiable information for those activities
    listed at the time you submit your information to us. For example, if you provide us with an email to inform you
    of special events, then that is what we will use your email address to do. If we would like to use your
    personally identifiable information for an unrelated activity, we will first request your consent to do so.
</p>
<br />
<p><strong>HOW DO WE PROTECT THE PERSONAL INFORMATION WE COLLECT?&nbsp;</strong></p>
<p>
    <strong><em>Security of Personal Data</em></strong>
</p>
<p>
    We are committed to protecting the security of your personal data. Depending on the circumstances, we may hold
    your information in hard copy and/or electronic form. For each medium, we use technologies and procedures to
    protect personal data. We review our strategies and update as necessary to meet our business needs, changes in
    technology, and regulatory requirements. We take our security obligations seriously and so should you. While
    we are responsible for maintaining the security of this Site, you must also access and use this Site in a manner
    that is responsible and secure. In addition, we have implemented a series of policies, procedures, and
    training to address data protection, confidentiality, and security, and we update and review the appropriateness
    of these measures on a regular basis.
</p>
<p>
    <strong><em>Storage and Transfer of Personal Data</em></strong>
</p>
<p>
    The personal data we collect may be stored and processed in your region, in the United States or in any other
    country where we, our affiliates, or contractors maintain facilities, including outside the European Union. We
    take steps to ensure that the data we collect under this Privacy Policy is processed pursuant to the terms
    thereof and the requirements of applicable law wherever the data is located.
</p>
<p>
    We also collaborate with third parties such as cloud hosting services and suppliers located around the world to
    serve the needs of our business, workforce, and customers. In some cases, we may need to disclose or
    transfer your personal data within the Company or to third parties in areas outside of your home country. When
    we do so, we take steps to ensure that personal data is processed, secured, and transferred according to
    applicable law.
</p>
<p>If you would like to know more about our data transfer practices, please contact us at&nbsp;<a href={"mailto:" +
        FUNNEL.company.email}>{FUNNEL.company.email}</a>.</p>
<br />
<p>
    <strong><em>Retention of Personal Data</em></strong>
</p>
<p>
    We retain personal data for as long as necessary to provide the services and fulfill the transactions you have
    requested, or for other business purposes such as complying with our legal obligations, resolving disputes,
    and enforcing our agreements. We are required by law to keep some types of information for certain periods of
    time (e.g., statute of limitations). If your personal data is no longer necessary for the legal or business
    purposes for which it is processed, we will generally destroy or anonymize that information.
</p>
<br />
<p><strong>WHAT ARE MY RIGHTS REGARDING MY PERSONAL DATA?</strong></p>
<p>
    We respect your right to access and control your personal data. You have choices about the data we collect. When
    you are asked to provide personal data that is not necessary for the purposes of providing you with our
    Products and Services, you may decline. However, if you choose not to provide data that is necessary to provide
    a Service, you may not have access to certain features, Sites, Products, or Services.
</p>
<br />
<p>
    <strong><em>Access to personal data</em></strong>: In some jurisdictions, you have the right to request access
    to your personal data. In these cases, we will comply, subject to any relevant legal requirements and
    exemptions, including identity verification procedures. Before providing data to you, we will ask for proof of
    identity and sufficient information about your interaction with us so that we can locate any relevant data.
    We may also charge you a fee for providing you with a copy of your data (except where this is not permissible
    under local law).
</p>
<br />
<p>
    <strong><em>Correction and deletion</em></strong>: In some jurisdictions, you have the right to correct or amend
    your personal data if it is inaccurate or requires updating. You may also have the right to request
    deletion of your personal data. Please note that such a request could be refused because your personal data is
    required to provide you with the products or services you requested, e.g., to deliver a product or send an
    invoice to your email address, or that it is required by the applicable law.
</p>
<br />
<p>
    <strong><em>Portability</em></strong>: If you reside within the European Union, you have the right to ask for a
    copy of your personal data and/or ask for it to be ported to another provider of your choice. Please note
    that such a request could be limited to the only personal data you provided us with or that we hold at that
    given time and subject to any relevant legal requirements and exemptions, including identity verification
    procedures.
</p>
<br />
<p>
    <strong><em>Marketing preferences</em></strong>: If you have provided us with your contact information, we may,
    subject to any applicable Spam Act or similar regulation, contact you via email, postal mail or telephone
    about our products, services and events that may be of interest to you, including newsletters.
</p>
<p>
    E-mail communications you receive from us will generally provide an unsubscribe link allowing you to opt-out of
    receiving future email or to change your contact preferences. E-mail communications may also include a link
    to directly update and manage your marketing preferences. You can also change your contact preferences by
    contacting our customer service at&nbsp;
    <a href={"mailto:" + FUNNEL.company.email}>{FUNNEL.company.email}</a>. Please remember that even if you opt out
    of receiving marketing emails, we may still send you important Service information related to your
    accounts.
</p>
<br />
<p><strong>HOW DO I CORRECT AND UPDATE MY PERSONAL DATA?&nbsp;</strong></p>
<p>
    We aim to keep all personal data that we hold accurate, complete and up to date. While we will use our best
    efforts to do so, we encourage you to tell us if you change your contact details. If you believe that the
    information we hold about you is incorrect, incomplete or out-of-date, please contact&nbsp;<a href={"mailto:" +
        FUNNEL.company.email}>{FUNNEL.company.email}</a>.
</p>
<p>
    You can change or correct your personal data at any time. Just send an email with your old information and your
    corrections to&nbsp;<a href={"mailto:" + FUNNEL.company.email}>{FUNNEL.company.email}</a> with
    &quot;Correction&quot; in the subject line.
</p>
<br />
<p><strong>YOUR CALIFORNIA PRIVACY RIGHTS</strong></p>
<p>
    We have adopted the following disclosures comply with the California Consumer Privacy Act of 2018, as amended,
    and implementing regulations (&ldquo;CCPA&rdquo;) and other California privacy laws. Any terms defined in the
    CCPA, other California privacy laws, or in our Privacy Policy have the same meaning when used in this notice.
</p>
<br />
<p>
    <strong><em>Information We Collect and How We Use and Share It</em></strong>
</p>
<p>
    We collect information that identifies, relates to, describes, references, is capable of being associated with,
    or could reasonably be linked, directly or indirectly, with a particular consumer or device (&ldquo;personal
    information&rdquo;). The chart below shows the following categories of personal information about consumers that
    we have collected within the last 12 months:
</p>
<br />
<!-- DivTable.com-->
<table style="width: 100%; font-size: 11px;" border="1" cellpadding="5">
    <tbody>
        <tr>
            <td><b>CATEGORY</b></td>
            <td><b>Information Collected</b></td>
            <td><b>Sources of Personal Information</b></td>
            <td>
                <b>
                    Purposes for Collecting<br />
                    (how we use the information)
                </b>
            </td>
            <td>
                <b>
                    Categories of Third Parties<br />
                    (with whom we may share or disclose this information)
                </b>
            </td>
        </tr>
        <tr>
            <td><b>Identifiers</b></td>
            <td>Customer name</td>
            <td>Customer entry on web form</td>
            <td>To ship product to customers and for customer communications</td>
            <td>n/a</td>
        </tr>
        <tr>
            <td><b>Personal Information protected against security breaches (Cal. Civ. Code &sect; 1798.80(e))</b>
            </td>
            <td>Address, email and phone number</td>
            <td>Customer entry on web form</td>
            <td>To ship product to customers and for customer communications</td>
            <td>Affiliate marketing using email only</td>
        </tr>
        <tr>
            <td><b>Protected classification information</b></td>
            <td>n/a</td>
            <td>n/a</td>
            <td>n/a</td>
            <td>n/a</td>
        </tr>
        <tr>
            <td><b>Commercial Information</b></td>
            <td>Purchase history</td>
            <td>Customer entry on web form</td>
            <td>To ship product to customers and for customer communications</td>
            <td>n/a</td>
        </tr>
        <tr>
            <td><b>Internet or other similar network activity</b></td>
            <td>IP address</td>
            <td>Customer entry on web form</td>
            <td>Fraud protection</td>
            <td>n/a</td>
        </tr>
        <tr>
            <td><b>Geolocation</b></td>
            <td>n/a</td>
            <td>n/a</td>
            <td>n/a</td>
            <td>n/a</td>
        </tr>
        <tr>
            <td><b>Audio/video Data</b></td>
            <td>Photos/videos of customers</td>
            <td>Customers who provide the information voluntarily as a testimonial</td>
            <td>Display on Site and in email communications</td>
            <td>n/a</td>
        </tr>
        <tr>
            <td><b>Professional or employment related information</b></td>
            <td>n/a</td>
            <td>n/a</td>
            <td>n/a</td>
            <td>n/a</td>
        </tr>
        <tr>
            <td><b>Education information</b></td>
            <td>n/a</td>
            <td>n/a</td>
            <td>n/a</td>
            <td>n/a</td>
        </tr>
        <tr>
            <td><b>Biometrics</b></td>
            <td>n/a</td>
            <td>n/a</td>
            <td>n/a</td>
            <td>n/a</td>
        </tr>
        <tr>
            <td><b>Inferences drawn from other personal information</b></td>
            <td>n/a</td>
            <td>n/a</td>
            <td>n/a</td>
            <td>n/a</td>
        </tr>
    </tbody>
</table>
<!-- DivTable.com-->
<br />
<br />
<p>
    When we disclose personal information for a business purpose, we enter a contract that describes the purpose and
    requires the recipient to both keep that personal information confidential and not use it for any purpose
    except performing the contract.
    <strong><em>The CCPA prohibits third parties who purchase the personal information we hold from reselling it
            unless you have received explicit notice and an opportunity to opt-out of further sales.</em></strong>
</p>
<br />
<p>We or our Service Providers also may use your information for the following Business Purposes (as defined in the
    CCPA) on a day-to-day basis:</p>
<ul>
    <li aria-level="1">
        Auditing related to a current interaction with the consumer and concurrent transactions, including, but not
        limited to, counting ad impressions to unique visitors, verifying positioning and quality of ad impressions,
        and auditing compliance with this specification and other standards.
    </li>
    <li aria-level="1">Detecting security incidents, protecting against malicious, deceptive, fraudulent, or illegal
        activity, and prosecuting those responsible for that activity.</li>
    <li aria-level="1">Debugging to identify and repair errors that impair existing intended functionality.</li>
    <li aria-level="1">
        Short-term, transient use, provided that the personal information is not disclosed to another third party
        and is not used to build a profile about a consumer or otherwise alter an individual consumer&rsquo;s
        experience outside the current interaction, including, but not limited to, the contextual customization of
        ads shown as part of the same interaction.
    </li>
    <li aria-level="1">
        Performing services on behalf of the business or service provider, including maintaining or servicing
        accounts, providing customer service, processing or fulfilling orders and transactions, verifying customer
        information, processing payments, providing financing, providing advertising or marketing services,
        providing analytic services, or providing similar services on behalf of the business or service provider.
    </li>
    <li aria-level="1">Undertaking internal research for technological development and demonstration.</li>
    <li aria-level="1">
        Undertaking activities to verify or maintain the quality or safety of a service or device that is owned,
        manufactured, manufactured for, or controlled by the business, and to improve, upgrade, or enhance the
        service
        or device that is owned, manufactured, manufactured for, or controlled by the business.
    </li>
</ul>
<br />
<p>
    <strong><em>Do We</em></strong><strong><em>&ldquo;Sell&rdquo; Your Personal Information?</em></strong>
</p>
<p>
    We do &ldquo;sell&rdquo; your personal information as currently defined under the CCPA, meaning that we may
    rent, disclose, release, transfer, make available or otherwise communicate your personal information to a third
    party for monetary or other valuable consideration. Further, we may disclose Personal Information to third
    parties, such as our dealers, in such a way that may be considered a sale of Personal Information under CCPA.
</p>
<br />
<p>
    <strong><em>How to Exercise Your Rights Under the CCPA</em></strong>
</p>
<p>
    Under the CCPA you have the right to find out about the personal information that we have collected and how that
    information has been used or disclosed. You also have the right to request that we delete your personal
    information or opt-out of the sale of your personal information. If you wish to exercise any of the rights
    listed below, or if you would like additional information, please contact us at&nbsp;
    <a href={"mailto:" + FUNNEL.company.email}>{FUNNEL.company.email}</a>.<sup>1</sup>
</p>
<br />
<p>
    <strong>1.<em>The Right to Access and Know About Personal Information Collected, Disclosed, or
            Sold</em></strong>
</p>
<br />
<p>
    You have the right to request that we disclose certain information to you about our collection and use of your
    personal information over the past 12 months. Once we receive and confirm your verifiable consumer request,
    we will disclose to you:
</p>
<ul>
    <li aria-level="1">The categories of personal information we collected about you.</li>
    <li aria-level="1">The categories of sources for the personal information we collected about you.</li>
    <li aria-level="1">Our business or commercial purpose for collecting or selling that personal information.</li>
    <li aria-level="1">The categories of third parties with whom we share that personal information.</li>
    <li aria-level="1">The specific pieces of personal information we collected about you (also called a data
        portability request).</li>
    <li aria-level="1">If we disclosed your personal information for a business purpose, identifying the personal
        information categories that each category of recipient obtained.</li>
</ul>
<p>For data portability requests, we will select a format to provide your personal information that is readily
    usable and should allow you to transmit the information from one entity to another entity without hindrance.</p>
<br />
<p>
    <strong>2.<em>The Right to Request Deletion of Your Personal Information</em></strong>
</p>
<br />
<p>
    Subject to certain exceptions, you have the right to request that we delete any of all of your personal
    information that we collected from you and retained over the past 12 months. Once we receive and confirm your
    verifiable consumer request, we will delete (and direct our service providers to delete) your personal
    information from our records, unless an exception applies. You may request that only a portion of your
    information be
    deleted.
</p>
<p>We may deny all or part of your deletion request if retaining the information is necessary for us or our service
    providers to:</p>
<ul>
    <li aria-level="1">
        Complete the transaction for which we collected the personal information, provide a service that you
        requested, take actions reasonably anticipated based on our ongoing business relationship with you, or
        otherwise
        perform our agreement with you
    </li>
    <li aria-level="1">Detect security incidents, protect against malicious, deceptive, fraudulent, or illegal
        activity, or prosecute those responsible for such activities</li>
    <li aria-level="1">Debug products to identify and repair errors that impair existing intended functionality</li>
    <li aria-level="1">Exercise free speech or ensure the right of another consumer to exercise their right of free
        speech or other right provided for by law</li>
    <li aria-level="1">Enable solely internal uses that are reasonably aligned with consumer expectations based on
        your relationship with {FUNNEL.company.name}</li>
    <li aria-level="1">Comply with law or a legal obligation</li>
    <li aria-level="1">Otherwise use your personal information internally, in a lawful manner that is compatible
        with the context in which you provide the information.</li>
</ul>
<br />
<p>
    <strong>3.<em>The Right to Opt-Out of the Sale of Your Personal Information</em></strong>
</p>
<br />
<p>The CCPA provides you with the right to opt out and stop businesses from selling your personal information. This
    right applies to all California consumers ages 16 or older and may be exercised at any time.</p>
<p>
    If you are 16 years of age or older, you have the right to direct us to not sell your personal information at
    any time (the &quot;right to opt-out&quot;). Our websites and products are not intended for minors. We do not
    sell the personal information of consumers we actually know are less than 16 years of age, unless we receive
    affirmative authorization (the &quot;right to opt-in&quot;) from either the consumer who is at least 13 but not
    yet 16 years of age, or the parent or guardian of a consumer less than 13 years of age. Consumers who opt-in to
    personal information sales may opt-out of future sales at any time.
</p>
<p>How to exercise this right:</p>
<ul>
    <li aria-level="1">By contacting Company at the toll-free number: {FUNNEL.company.phone}; or</li>
    <li aria-level="1">By sending an email to&nbsp;<a href={"mailto:" +
            FUNNEL.company.email}>{FUNNEL.company.email}</a>, providing details of your request</li>
</ul>
<p>
    While there is not yet a consensus, data practices of third-party cookies and tracking technologies associated
    with our websites and mobile app may constitute a &ldquo;Sale&rdquo; of your personal information as defined
    by the CCPA. You can exercise control over browser-based cookies by adjusting the settings on your browser, and
    mobile devices may offer ad limitation choices. In addition, third party tools may enable you to search for
    and opt-out of some of these trackers, such as the Ghostery browser plug-in available at&nbsp;<a
        href="https://www.ghostery.com/">www.ghostery.com</a>. You can learn more about your choices regarding
    certain kinds of
    online interest-based advertising in our privacy policy. We do not represent that these third-party tools,
    programs or statements are complete or accurate, clearing cookies or changing settings may affect your choices
    and you may have to opt-out separately via each browser and other device you use.
</p>
<p>
    Some browsers have signals that may be characterized as do not track signals, but we do not understand them to
    operate in that manner or to represent a &ldquo;do not sell&rdquo; request by you; accordingly, currently we
    do not view these signals as a do not sell request. We understand that various parties are developing do not
    sell signals and we may recognize certain such signals if we conclude such a program is appropriate.
</p>
<p>We do sell the personal information of Consumers. All consumers, regardless of age, may opt out of our
    promotional emails by clicking the &lsquo;unsubscribe&rsquo; link on each of our brand emails.</p>
<br />
<p>
    <strong><em>4. The Right to Non-Discrimination</em></strong>
</p>
<p>We will not discriminate against you for exercising any of your CCPA rights, and will not engage in the following
    behaviors:</p>
<ul>
    <li aria-level="1">Denying you goods or services</li>
    <li aria-level="1">Charging you different prices or rates for goods or services, including through granting
        discounts or other benefits, or imposing penalties</li>
    <li aria-level="1">Providing you a different level or quality of goods or services</li>
    <li aria-level="1">Suggesting that you may receive a different price or rate for goods or services or a
        different level or quality of goods or services</li>
</ul>
<p>When you exercise these rights and submit a request to us, we will verify your identity by asking for information
    about your relationship with us, such as email address on file.</p>
<p>We endeavor to respond to a verifiable consumer request within forty-five (45) days of its receipt. If we require
    more time, we will inform you of the reason and extension period in writing.</p>
<p>
    Any disclosures we provide will only cover the 12-month period preceding the verifiable consumer request&apos;s
    receipt. The response we provide will also explain the reasons we cannot comply with a request, if
    applicable.
</p>
<br />
<p>
    <strong><em>Authorized Agents</em></strong>
</p>
<p>You may authorize a natural person or a business entity registered with the California Secretary of State to act
    on your behalf to make a request to know or to delete your personal information.</p>
<p>
    To do so, you must (i) verify your identity to us and provide that authorized agent written permission to make
    such a request or (ii) provide the authorized agent with power of attorney pursuant to the California Probate
    Code sections 4000 to 4465.
</p>
<p>The authorized agent must include those authorizations in the verifiable consumer request.</p>
<br />
<p>
    <strong><em>Notice of Financial Incentive</em></strong><sup>2</sup>
</p>
<p>
    We will not discriminate against you in a manner prohibited by the CCPA because you exercise your CCPA rights.
    However, we may charge a different price or rate, or offer a different level or quality of goods or services,
    to the extent that doing so is reasonably related to the value of the applicable data. In addition, we may offer
    you financial incentives for the collection, Sale, retention, and use of your personal information as
    permitted by the CCPA; such offers may result in reasonably different prices, rates, or quality levels. The
    material aspects of any financial incentive will be explained and described in its program terms. For details of
    our current financial incentive program and its terms, including how to opt-in or withdraw your opt-in, program
    benefits, refer to our Rewards Terms and Conditions.
</p>
<p>
    Please note that participating in incentive programs is entirely optional; participants affirmatively opt into
    the program, and can opt out of the program (i.e., terminate participation and forgo the ongoing incentives)
    by following the instructions in the program&rsquo;s description and terms. We may add or change incentive
    programs and/or their terms by posting a notice on the program descriptions and terms linked to above, so check
    them regularly.
</p>
<p>
    To opt out of the financial incentives, please review our Privacy Policy and use the contact information found
    in that policy to submit a request to us. If you opt out we will not reduce the value of any financial
    incentives you previously received from us.
</p>
<p>
    We do not assign a monetary value to the data that we collect and strive to only use that information to further
    our business in accordance with our Privacy Policy; to the extent that we are required to assign a monetary
    value to your personal information it is equal to the value of the discount or financial incentive that we have
    provided to you.
</p>
<br />
<p>
    <strong><em>Children 16 and Under</em></strong>
</p>
<p>
    We do not knowingly collect, solicit, or share personal information from children under the age of 16. If we
    have knowledge that a child under 16 has submitted personal information in violation of this Policy, we will
    delete that information as soon as possible. If you believe we may have obtained information in violation of
    this Policy, please email us at&nbsp;
    <a href={"mailto:" + FUNNEL.company.email}>{FUNNEL.company.email}</a>, or call us at {FUNNEL.company.phone}.
</p>
<p>
    <strong><em>Questions About The CCPA?</em></strong>
</p>
<p>If you have questions or concerns regarding this statement, you should first contact us via email at&nbsp;<a
        href={"mailto:" + FUNNEL.company.email}>{FUNNEL.company.email}</a>.</p>
<p>
    <strong><em>Changes to this Privacy Policy</em></strong>
</p>
<p>
    We reserve the right to amend this Privacy Notice at our discretion and at any time. When we make changes to
    this privacy notice, we will post the updated notice on the Website and update the notice&rsquo;s effective
    date. Your continued use of our website following the posting of changes constitutes your acceptance of such
    changes. If we are required by applicable data protection laws to obtain your consent to any material changes
    before they come into effect, then we will do so in accordance with law.
</p>
<p>
    <strong><em>California Shine the Light Law</em></strong>
</p>
<p>
    If you are a California resident and have an established business relationship with us and want to receive
    information about how to exercise your third-party disclosure choices, you must send a request to the following
    address with a preference on how our response to your request should be sent (email or postal mail). You may
    contact us in two ways. Send an email to&nbsp;
    <a href={"mailto:" + FUNNEL.company.email}>{FUNNEL.company.email}</a>.
</p>
<p>
    Alternatively, you may contact us at: <br />
    {FUNNEL.company.name} <br />
    {FUNNEL.company.address}<br />
    Attn: Your California Privacy Rights <br />
    c/o Privacy Administrator
</p>
<p>
    <strong>
        For requests sent via email, you must put the statement &ldquo;Your California Privacy Rights&rdquo; in the
        subject field of your email. All requests sent via postal mail must be labeled &ldquo;Your California
        Privacy Rights&rdquo; on the envelope or post card and clearly stated on the actual request.
    </strong>
    &nbsp;For all requests, please include your name, street address, city, state, and zip code. (Your street
    address is optional if you wish to receive a response to your request via email. Please include your zip code
    for
    our own recordkeeping.)<strong>We will not accept requests via the telephone or by
        facsimile.</strong><strong></strong>We are not responsible for responding to notices that are not labeled or
    not sent properly, or do not
    have complete information.
</p>
<p>
    If you are a California resident under the age of 18, and a registered user of any site where this policy is
    posted, California Business and Professions Code Section 22581 permits you request and obtain removal of
    content or information you have publicly posted. To make such a request, please send an email with a detailed
    description of the specific content or information to&nbsp;
    <a href={"mailto:" + FUNNEL.company.email}>{FUNNEL.company.email}</a>. Please be aware that such a request does
    not ensure complete or comprehensive removal of the content or information you have posted and that
    there may be circumstances in which the law does not require or allow removal even if requested.
</p>
<p><strong>BEHAVIORAL ADVERTISING</strong></p>
<p>
    We sometimes use your Personal Information to provide you with targeted advertisements or marketing
    communications we believe may be of interest to you. For more information about how targeted advertising works,
    you can
    visit the Network Advertising Initiative&rsquo;s (&ldquo;NAI&rdquo;) educational page at
    http://www.networkadvertising.org/understanding-online-advertising/how-does-it-work.
</p>
<p>Additionally, you can opt out of some of these services by visiting the Digital Advertising Alliance&rsquo;s
    opt-out portal at: http://optout.aboutads.info/.</p>
<p><strong>DO NOT TRACK</strong></p>
<p>Please note that we do not alter our Site&rsquo;s data collection and use practices when we see a Do Not Track
    signal from your browser.</p>
<p><strong>YOUR RIGHTS</strong></p>
<p>
    If you are a European resident, you have the right to access personal information we hold about you and to ask
    that your personal information be corrected, updated, or deleted. If you would like to exercise this right,
    please contact us through the contact information below.
</p>
<p>
    Additionally, if you are a European resident, we note that we are processing your information in order to
    fulfill contracts we might have with you (for example if you make an order through the Site), or otherwise to
    pursue our legitimate business interests listed above. Additionally, please note that your information will be
    transferred outside of Europe, including the United States. This is purely for internal processing of your
    information within our systems.
</p>
<p><strong>EMAIL COMMUNICATION</strong></p>
<p>
    We only contact individuals who specifically request that we do so or in the event that they have signed up to
    receive our free newsletters or have purchased one of our products. We collect personally identifying
    information from our users during online registration for our newsletters and during purchasing of products and
    services.
</p>
<p>
    Your email information is stored at the list server that delivers the newsletters. That information can only be
    accessed by those who help manage those lists in order to deliver e-mail to those who would like to receive
    the newsletters.
</p>
<p>
    All of our newsletters sent out include an unsubscribe link in them. You can remove yourself at any time from
    our newsletters by clicking on the unsubscribe link. You can also contact us atto change your information at
    any time.
</p>
<p><strong>DATA RETENTION</strong></p>
<p>
    When you place an order through the Site, we will maintain your Order Information for our records unless and
    until you ask us to delete this information. We never sell, exchange, or release your personal information
    (name, e-mail address, or billing information).
</p>
<p>Your information is NOT shared with any other third party or company outside of billing and shipping purposes.
</p>
<p><strong>MINORS</strong></p>
<p>The Site is not intended for individuals under the age of 18.</p>
<p><strong>CHANGES</strong></p>
<p>We may update this privacy policy from time to time in order to reflect, for example, changes to our practices or
    for other operational, legal or regulatory reasons.</p>
<p><strong>CONTACT US</strong></p>
<p>
    For more information about our privacy practices, if you have questions, or if you would like to make a
    complaint, please contact us by e-mail at&nbsp;
    <a href={"mailto:" + FUNNEL.company.email}>{FUNNEL.company.email}</a> or by mail using the details provided
    below:
</p>
<p>{FUNNEL.company.name} | {FUNNEL.company.address}</p>
<br />
<p class="sup">
    <sup>1</sup> This is the easiest way to have consumers exercise rights under the CCPA &ndash; but may not be
    appropriate or feasible in all circumstances. This method is in line with the GDPR request method below.
</p>
<p class="sup"><sup>2</sup> Only required if offering a discount in exchange for collection/maintenance/disclosure
    of personal information..</p>